@media (max-width: 1024px) {
    .navbar-brand {
        font-size: 1.3rem;
    }
    .navbar-nav .nav-link {
        font-size: 0.8rem;
    }
    .navbar-nav .nav-link.btn-warning {
        font-size: 0.6rem;
        margin-bottom: 2%;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        justify-content: center;
    }
    .navbar-nav .nav-item {
        margin: 0 0.5rem;
    }
    .navbar-nav .nav-link.btn-warning {
        width: 20%; 
    }

    .navbar-brand {
        font-size: 1.5rem;
    }
    .navbar-nav .nav-link {
        font-size: 1rem;
    }
    .navbar-nav .nav-link.btn-warning {
        font-size: 0.9rem;
        margin-bottom: 2%;
    }
}

@media (max-width: 375px) {
    .navbar-nav .nav-link.btn-warning {
        width: 30%; 
    }
    .navbar-brand {
        font-size: 1.2rem;
    }
    .navbar-nav .nav-link {
        font-size: 0.8rem;
    }
    .navbar-nav .nav-link.btn-warning {
        font-size: 0.7rem;
        margin-bottom: 3%;
    }

}
.navbar-nav .nav-item {
    margin-right: 0.5%; 
}
.navbar-brand {
    color: orange;
}
.navbar-nav .nav-link {
    color: black;
    font-family: 'Inter';
    font-style: normal;
    
}
.navbar-nav {
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
}
.navbar-collapse {
    margin-left: 30%;
}
.navbar-toggler {
    background-color: #ffc107;
    border: 2px solid #000; 
    border-radius: 5px; 
}

.card{
    margin-bottom: 6%;
}


.footer {
    background-color: #05073C;
    padding: 3% 0;
}
.footer h5 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Inter';
    font-style: normal;
}
.footer p {
    color: #cfcfcf;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
}
.footer a {
    color: #b1b1b1;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .form-control {
    border-radius: 0;
}
.footer .btn {
    border-radius: 0;
}
